<section class="about" id="about">
    <div class="container">
        <div class="about__inner">

            <div class="about__picture" data-aos="fade-right">
                <img class="img" src="img/about/2.jpg" alt="123">
            </div>
            <!-- /.about__picture -->

            <div class="about__content" data-aos="fade-left">
                <h3 class="section-title section-title--style_dark section-title--decoration_left">Наша історія</h3>
                <div class="about__text">
                    <p>Наша школа була заснована в 2000 році і є провідною міжнародною музичною школою в Україні! Це альтернатива консервативним державним школам. «Немає нездатних дітей, є нерозкриті таланти!» - ці слова є основою нашого педагогічного підходу до кожного учня! </p>
                    <p>Найперше завдання – не згасити бажання займатись музикою, адже це не страждання від теоретичних незрозумілостей, а задоволення і розвиток особистості передусім. Теоретична частина музики впроваджується лише тоді, коли виникає потреба та бажання навчатись далі. Досвідчена, зреалізована та активно діюча музична команда йтиме разом із своїми учнями у потрібному ритмі та руслі, не поспішаючи, а впевнено досягаючи успіху.</p>
                </div>
                <a class="btn btn--size_lg btn--style_red" href="#portfolio">переглянути галерею</a>
            </div>
            <!-- /.about__content -->

        </div>
        <!-- /.about__inner -->
    </div>
    <!-- /.container -->
</section>
<!-- /.about -->