<section class="communication" id="communication">
    <div class="container">
        <div class="communication__inner">

            <div class="section-header" data-aos="fade-up">
                <h2 class="section-title section-title--style_dark">ЗВ'ЯЗАТИСЯ З НАМИ</h2>
                <div class="section-subtitle section-subtitle--style_dark">Ви маєте запитання або хочете залишити заявку?</div>
                <div class="design-element design-element--style_dark"></div>
            </div>
            <!-- /.section-header -->

            <div class="communication__content">

                <div class="communication__contact" data-aos="fade-right">

                    <div class="communication__item">
                        <h4 class="communication__title">наша адреса</h4>
                        <address class="communication__address">
                            м. Бахмач Котляревського 13
                        </address>
                    </div>

                    <div class="communication__item">
                        <h4 class="communication__title">телефони</h4>
                        <a class="communication__link" href="tel:+12324435">+ 880 168 109 1425</a>
                        <a class="communication__link" href="tel:+1213444">+ 0216809142</a>
                    </div>

                    <div class="communication__item">
                        <h4 class="communication__title">пошта</h4>
                        <a class="communication__link" href="mailto:contactus@email.com">contactus@email.com</a>
                    </div>

                </div>
                <!-- /.communication__contact -->

                <div class="communication__form" data-aos="fade-left">

                    <form class="form" id="form" name="form" action="" method="POST">
                        <input class="form__field" id="name" name="name" type="text" placeholder="Ім'я та прізвище">
                        <input class="form__field" id="email" name="email" type="text" placeholder="Email">
                        <input class="form__field" id="phone" name="phone" type="text" placeholder="Номер телефону">
                        <textarea class="form__field form__field_textarea" id="textarea" name="textarea" placeholder="Текст повідомлення"></textarea>
                        <button class="btn btn--size_sm btn--style_red" type="submit">надіслати</button>
                    </form>
                    <!-- /.form -->

                </div>
                <!-- /.communication__form -->

            </div>
            <!-- /.contact__content -->

        </div>
        <!-- /.contact__inner -->
    </div>
    <!-- /.container -->
</section>
<!-- /.contact -->