<footer class="footer">
    <div class="container">
        <div class="footer__inner">

            <div class="footer__social">
                <a class="footer__social-link" href="#">
                    <svg class="footer__social-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="img/sprite.svg#social-facebook"></use>
                    </svg>
                </a>
                <a class="footer__social-link" href="#">
                    <svg class="footer__social-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="img/sprite.svg#social-twitter"></use>
                    </svg>
                </a>
                <a class="footer__social-link" href="#">
                    <svg class="footer__social-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="img/sprite.svg#social-rss"></use>
                    </svg>
                </a>
                <a class="footer__social-link" href="#">
                    <svg class="footer__social-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="img/sprite.svg#social-linkedin"></use>
                    </svg>
                </a>
                <a class="footer__social-link" href="#">
                    <svg class="footer__social-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="img/sprite.svg#social-skype"></use>
                    </svg>
                </a>
                <a class="footer__social-link" href="#">
                    <svg class="footer__social-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="img/sprite.svg#social-tumblr"></use>
                    </svg>
                </a>
            </div>
            <!-- /.footer__social -->

            <div class="footer__text">Чуйко Ярослав &copy Всі права захищені </div>

        </div>
        <!-- /.footer__inner -->
    </div>
    <!-- /.container -->
</footer>
<!-- /.footer -->