<!-- ELECTRIC GUITAR -->
<div class="modal" id="modal_electric-guitar">
    <div class="modal__dialog">

        <button class="modal__close" type="button">
            <svg class="modal__close-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="img/sprite.svg#modal-close"></use>
            </svg>
        </button>

        <div class="modal-info">

            <div class="modal-info__inner">

                <div class="section-header">
                    <h3 class="section-title section-title--style_dark section-title--decoration_left">Електрогітара
                    </h3>
                </div>
                <!-- /.section-header -->

                <div class="modal-info__content">
                    <div class="modal-info__conten-inner">

                        <div class="modal-info__description">
                            <p>На гітарі грають лише хлопці? А знаєш Ти, що «… землетрус, у порівнянні з дівочою гітарою
                                – лиш незначна вібрація!»(Ентоні Кідс, RHCP)? А ще: «Тексти пісень – це марна трата часу
                                між гітарними соло» (Анґус Янґ, AC/DC)</p>
                        </div>

                        <div class="modal-info__list-block">
                            <p class="modal-info__list-description">На уроках ви отримаєте:</p>

                            <ul class="modal-info__list">
                                <li class="modal-info__list-item">
                                    <span>професійний рівень викладачів;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>сучасні методи навчання та індивідуальний підхід до кожного;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>цікаві та ефективні заняття в комфортних умови;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>правильну постанову рук;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>розвиток музичного слуху, ритму, пам’яті;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>підбір програми враховуючи Ваші уподобання;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>навчання як класичного так і естрадного виконання;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>гра сольно та в ансамблях;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>підготовка до вступу у вищий навчальний заклад.</span>
                                </li>
                            </ul>

                        </div>
                        <!-- /.modal-info__list-block -->

                        <div class="modal-info__pricing">
                            <h6 class="modal-info__pricing-title">Вартість</h6>
                            <div class="modal-info__pricing-lesson">
                                <p class="modal-info__pricing-text">Заняття триває 45 хвилин.</p>
                                <p class="modal-info__pricing-text">Групові заняття в школі: <span>125 грн.</span>
                                </p>
                                <p class="modal-info__pricing-text">Групові заняття онлайн: <span>100 грн.</span>
                                </p>
                                <p class="modal-info__pricing-text">Індивідуальні заняття онлайн:<span>200
                                        грн.</span></p>
                                <p class="modal-info__pricing-text">Індивідуальні заняття в школі:<span>300
                                        грн.</span></p>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-info__conten-inner -->

                    <div class="text-center">
                        <a class="btn btn--size_sm btn--style_red btnRequest" href="#communication">Залишити
                            заявку</a>
                    </div>
                </div>
                <!-- /.modal-info__content -->


            </div>
            <!-- /.modal-info__inner -->

            <div class="modal-info__img-wrapper">
                <img class="modal-info__img" src="img/modal/1.jpg" alt="123">
            </div>

        </div>
        <!-- /.modal-info-->
    </div>
    <!-- /.modal__dialog -->
</div>
<!-- /.modal -->

<!-- ACOUSTIC GUITAR -->
<div class="modal" id="modal_acoustic-guitar">
    <div class="modal__dialog">

        <button class="modal__close" type="button">
            <svg class="modal__close-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="img/sprite.svg#modal-close"></use>
            </svg>
        </button>

        <div class="modal-info">

            <div class="modal-info__inner">

                <div class="section-header">
                    <h3 class="section-title section-title--style_dark section-title--decoration_left">Акустична гітара
                    </h3>
                </div>
                <!-- /.section-header -->

                <div class="modal-info__content">
                    <div class="modal-info__conten-inner">

                        <div class="modal-info__description">
                            <p>Сьогодні гітара - один з найпопулярніших інструментів у світі. Здатність до грати гітара
                                відкриває величезну кількість нових можливостей для вас і вашого життя яскравіше,
                                багатше і багатше.</p>
                        </div>

                        <div class="modal-info__list-block">
                            <p class="modal-info__list-description">На уроках ви отримаєте:</p>

                            <ul class="modal-info__list">
                                <li class="modal-info__list-item">
                                    <span>професійний рівень викладачів;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>сучасні методи навчання та індивідуальний підхід до кожного;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>цікаві та ефективні заняття в комфортних умови;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>правильну постанову рук;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>розвиток музичного слуху, ритму, пам’яті;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>підбір програми враховуючи Ваші уподобання;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>навчання як класичного так і естрадного виконання;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>гра сольно та в ансамблях;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>підготовка до вступу у вищий навчальний заклад.</span>
                                </li>
                            </ul>

                        </div>
                        <!-- /.modal-info__list-block -->

                        <div class="modal-info__pricing">
                            <h6 class="modal-info__pricing-title">Вартість</h6>
                            <div class="modal-info__pricing-lesson">
                                <p class="modal-info__pricing-text">Заняття триває 45 хвилин.</p>
                                <p class="modal-info__pricing-text">Групові заняття в школі: <span>125 грн.</span>
                                </p>
                                <p class="modal-info__pricing-text">Групові заняття онлайн: <span>100 грн.</span>
                                </p>
                                <p class="modal-info__pricing-text">Індивідуальні заняття онлайн:<span>200
                                        грн.</span></p>
                                <p class="modal-info__pricing-text">Індивідуальні заняття в школі:<span>300
                                        грн.</span></p>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-info__conten-inner -->

                    <div class="text-center">
                        <a class="btn btn--size_sm btn--style_red btnRequest" href="#communication">залишити
                            заявку</a>
                    </div>
                </div>
                <!-- /.modal-info__content -->


            </div>
            <!-- /.modal-info__inner -->
            <div class="modal-info__img-wrapper">
                <img class="modal-info__img" src="img/modal/3.jpg" alt="123">
            </div>
        </div>
        <!-- /.modal-info-->
    </div>
    <!-- /.modal__dialog -->
</div>
<!-- /.modal -->

<!-- DRUMS -->
<div class="modal" id="modal_drums">
    <div class="modal__dialog">

        <button class="modal__close" type="button">
            <svg class="modal__close-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="img/sprite.svg#modal-close"></use>
            </svg>
        </button>

        <div class="modal-info">

            <div class="modal-info__inner">

                <div class="section-header">
                    <h3 class="section-title section-title--style_dark section-title--decoration_left">Барабани
                    </h3>
                </div>
                <!-- /.section-header -->

                <div class="modal-info__content">
                    <div class="modal-info__conten-inner">

                        <div class="modal-info__description">
                            <p>Барабани - це справжня енергія і відчуття польоту через ритм. Наша команда професіоналів
                                викладачі допоможуть кожному розкрити себе та свій потенціал в повній мірі.Вчителю буде
                                цікаво, а головне легко та доступно передати інформація з використанням сучасних методів
                                роботи.</p>
                        </div>

                        <div class="modal-info__list-block">
                            <p class="modal-info__list-description">На уроках ви отримаєте:</p>

                            <ul class="modal-info__list">
                                <li class="modal-info__list-item">
                                    <span>розвиток слуху, ритму та музичної пам’яті;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>правильна постанова і координація рук;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>читання нотного письма та підбір на слух;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>заняття з дітьми в доступній ігровій формі;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>різні техніки гри;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>гра сольно та в ансамблі;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>заняття з дорослими як з початківцями, так і граючими артистами;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>боротьба зі страхом сцени, фізичними та емоційними бар’єрами;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>підготовка до вступу у вищий навчальний заклад.</span>
                                </li>
                            </ul>

                        </div>
                        <!-- /.modal-info__list-block -->

                        <div class="modal-info__pricing">
                            <h6 class="modal-info__pricing-title">Вартість</h6>
                            <div class="modal-info__pricing-lesson">
                                <p class="modal-info__pricing-text">Заняття триває 45 хвилин.</p>
                                <p class="modal-info__pricing-text">Групові заняття в школі: <span>125 грн.</span>
                                </p>
                                <p class="modal-info__pricing-text">Групові заняття онлайн: <span>100 грн.</span>
                                </p>
                                <p class="modal-info__pricing-text">Індивідуальні заняття онлайн:<span>200
                                        грн.</span></p>
                                <p class="modal-info__pricing-text">Індивідуальні заняття в школі:<span>300
                                        грн.</span></p>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-info__conten-inner -->

                    <div class="text-center">
                        <a class="btn btn--size_sm btn--style_red btnRequest" href="#communication">залишити
                            заявку</a>
                    </div>
                </div>
                <!-- /.modal-info__content -->


            </div>
            <!-- /.modal-info__inner -->

            <div class="modal-info__img-wrapper">
                <img class="modal-info__img" src="img/modal/2.jpg" alt="123">
            </div>

        </div>
        <!-- /.modal-info-->
    </div>
    <!-- /.modal__dialog -->
</div>
<!-- /.modal -->

<!-- PIANO -->
<div class="modal" id="modal_piano">
    <div class="modal__dialog">

        <button class="modal__close" type="button">
            <svg class="modal__close-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="img/sprite.svg#modal-close"></use>
            </svg>
        </button>

        <div class="modal-info">

            <div class="modal-info__inner">

                <div class="section-header">
                    <h3 class="section-title section-title--style_dark section-title--decoration_left">Фортепіано
                    </h3>
                </div>
                <!-- /.section-header -->

                <div class="modal-info__content">
                    <div class="modal-info__conten-inner">

                        <div class="modal-info__description">
                            <p>Фортепіано - один з найкрасивіших і неймовірних інструментів, на якому є цілий оркестр
                                тембрів. Наша команда професійних викладачів допоможе кожному розкрити себе та свій
                                потенціал в повній мірі. Вчителю буде цікаво, а головне легко та доступно передати
                                інформацію, використовуючи сучасні методи роботи.</p>
                        </div>

                        <div class="modal-info__list-block">
                            <p class="modal-info__list-description">На уроках ви отримаєте:</p>

                            <ul class="modal-info__list">
                                <li class="modal-info__list-item">
                                    <span>правильну постанову рук та їх координацію;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>розвиток слуху, ритму та музичної пам’яті;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>читання нотного письма та підбір на слух;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>гра сольно та в ансамблі;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>боротьба зі страхом сцени, фізичними та емоційними бар’єрами;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>індивідуальний підхід до кожного;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>заняття з дітьми в доступній ігровій формі;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>заняття з дорослими як з початківцями, так і граючими артистами;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>підготовка до вступу у вищий навчальний заклад.</span>
                                </li>
                            </ul>

                        </div>
                        <!-- /.modal-info__list-block -->

                        <div class="modal-info__pricing">
                            <h6 class="modal-info__pricing-title">Вартість</h6>
                            <div class="modal-info__pricing-lesson">
                                <p class="modal-info__pricing-text">Заняття триває 45 хвилин.</p>
                                <p class="modal-info__pricing-text">Групові заняття в школі: <span>125 грн.</span>
                                </p>
                                <p class="modal-info__pricing-text">Групові заняття онлайн: <span>100 грн.</span>
                                </p>
                                <p class="modal-info__pricing-text">Індивідуальні заняття онлайн:<span>200
                                        грн.</span></p>
                                <p class="modal-info__pricing-text">Індивідуальні заняття в школі:<span>300
                                        грн.</span></p>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-info__conten-inner -->

                    <div class="text-center">
                        <a class="btn btn--size_sm btn--style_red btnRequest" href="#communication">залишити заявку</a>
                    </div>
                </div>
                <!-- /.modal-info__content -->


            </div>
            <!-- /.modal-info__inner -->

            <div class="modal-info__img-wrapper">
                <img class="modal-info__img" src="img/modal/9.jpg" alt="123">
            </div>

        </div>
        <!-- /.modal-info-->
    </div>
    <!-- /.modal__dialog -->
</div>
<!-- /.modal -->

<!-- VOCAL -->
<div class="modal" id="modal_vocal">
    <div class="modal__dialog">

        <button class="modal__close" type="button">
            <svg class="modal__close-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="img/sprite.svg#modal-close"></use>
            </svg>
        </button>

        <div class="modal-info">

            <div class="modal-info__inner">

                <div class="section-header">
                    <h3 class="section-title section-title--style_dark section-title--decoration_left">Вокал
                    </h3>
                </div>
                <!-- /.section-header -->

                <div class="modal-info__content">
                    <div class="modal-info__conten-inner">

                        <div class="modal-info__description">
                            <p>У кожного є голос! Наша команда професійних викладачів допоможе розкрити весь ваш
                                потенціал. Тренер вокалу буде цікавим, а головне доступним, щоб передати основні
                                принципи правильного співу.</p>
                        </div>

                        <div class="modal-info__list-block">
                            <p class="modal-info__list-description">На уроках ви отримаєте:</p>

                            <ul class="modal-info__list">
                                <li class="modal-info__list-item">
                                    <span>вокальне дихання;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>чистоту інтонації;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>правильне голосоутворення;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>чітку дикцію;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>розвинуту артикуляцію;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>технічні вправи для розвитку рухливості голосу;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>вправи на розширення вокального діапазону.</span>
                                </li>
                            </ul>

                        </div>
                        <!-- /.modal-info__list-block -->

                        <div class="modal-info__pricing">
                            <h6 class="modal-info__pricing-title">Вартість</h6>
                            <div class="modal-info__pricing-lesson">
                                <p class="modal-info__pricing-text">Заняття триває 45 хвилин.</p>
                                <p class="modal-info__pricing-text">Групові заняття в школі: <span>125 грн.</span>
                                </p>
                                <p class="modal-info__pricing-text">Групові заняття онлайн: <span>100 грн.</span>
                                </p>
                                <p class="modal-info__pricing-text">Індивідуальні заняття онлайн:<span>200
                                        грн.</span></p>
                                <p class="modal-info__pricing-text">Індивідуальні заняття в школі:<span>300
                                        грн.</span></p>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-info__conten-inner -->

                    <div class="text-center">
                        <a class="btn btn--size_sm btn--style_red btnRequest" href="#communication">залишити заявку</a>
                    </div>
                </div>
                <!-- /.modal-info__content -->


            </div>
            <!-- /.modal-info__inner -->

            <div class="modal-info__img-wrapper">
                <img class="modal-info__img" src="img/modal/11.jpg" alt="123">
            </div>

        </div>
        <!-- /.modal-info-->
    </div>
    <!-- /.modal__dialog -->
</div>
<!-- /.modal -->

<!-- SAXOPHONE -->
<div class="modal" id="modal_saxophone">
    <div class="modal__dialog">

        <button class="modal__close" type="button">
            <svg class="modal__close-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="img/sprite.svg#modal-close"></use>
            </svg>
        </button>

        <div class="modal-info">

            <div class="modal-info__inner">

                <div class="section-header">
                    <h3 class="section-title section-title--style_dark section-title--decoration_left">Саксофон
                    </h3>
                </div>
                <!-- /.section-header -->

                <div class="modal-info__content">
                    <div class="modal-info__conten-inner">

                        <div class="modal-info__description">
                            <p>Уроки саксофона працюють над звуком, технікою, музичним смаком та імпровізацією.
                                Репертуар може сильно залежати від смаків студента. З моєю допомогою ти будеш змогли
                                навчитися грати на саксофоні за порівняно короткий час. Вже на першому уроці ви будете
                                грати красиві, але прості твори з музикою. Заняття проводяться індивідуально!</p>
                        </div>

                        <div class="modal-info__list-block">
                            <p class="modal-info__list-description">На уроках ви отримаєте:</p>

                            <ul class="modal-info__list">
                                <li class="modal-info__list-item">
                                    <span>постановка дихального та ігрового пристрою;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>навчання нотації, грати в ноти та розвивати навички читання нот з
                                        аркуша;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>підбір мелодій на слух;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>виконання музичних композицій під фонограмний супровід;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>основи імпровізації на саксофоні;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>підготовка програми для вступу до музичної школи;</span>
                                </li>
                                <li class="modal-info__list-item">
                                    <span>вправи для розширення голосового діапазону.</span>
                                </li>
                            </ul>

                        </div>
                        <!-- /.modal-info__list-block -->

                        <div class="modal-info__pricing">
                            <h6 class="modal-info__pricing-title">Вартість</h6>
                            <div class="modal-info__pricing-lesson">
                                <p class="modal-info__pricing-text">Заняття триває 45 хвилин.</p>
                                <p class="modal-info__pricing-text">Групові заняття в школі: <span>125 грн.</span>
                                </p>
                                <p class="modal-info__pricing-text">Групові заняття онлайн: <span>100 грн.</span>
                                </p>
                                <p class="modal-info__pricing-text">Індивідуальні заняття онлайн:<span>200
                                        грн.</span></p>
                                <p class="modal-info__pricing-text">Індивідуальні заняття в школі:<span>300
                                        грн.</span></p>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-info__conten-inner -->

                    <div class="text-center">
                        <a class="btn btn--size_sm btn--style_red btnRequest" href="#communication">залишити
                            заявку</a>
                    </div>
                </div>
                <!-- /.modal-info__content -->


            </div>
            <!-- /.modal-info__inner -->

            <div class="modal-info__img-wrapper">
                <img class="modal-info__img" src="img/modal/12.jpg" alt="123">
            </div>

        </div>
        <!-- /.modal-info-->
    </div>
    <!-- /.modal__dialog -->
</div>
<!-- /.modal -->

<!-- MODAL THANKS -->
<div class="modal" id="modal_thanks">
    <div class="modal__dialog modal__dialog--thanks">

        <button class="modal__close" type="button">
            <svg class="modal__close-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="img/sprite.svg#modal-close"></use>
            </svg>
        </button>

        <div class="modal-thanks">

            <h4 class="modal-thanks__text">Дякуємо за заявку</h4>

        </div>
        <!-- /.modal-thanks-->
    </div>
    <!-- /.modal__dialog -->
</div>
<!-- /.modal -->