<section class="portfolio" id="portfolio">
    <div class="container">
        <div class="portfolio__inner">

            <div class="section-header" data-aos="fade-up">
                <h2 class="section-title section-title--style_dark">галерея</h2>
                <div class="section-subtitle section-subtitle--style_dark">Незабутні враження наших учнів та викладачів.</div>
                <div class="design-element design-element--style_dark"></div>
            </div>
            <!-- /.section-header -->

        </div>
        <!-- /.portfolio__inner -->
    </div>
    <!-- /.container -->

    <div class="works">

        <div class="works__col">

            <div class="works__item" data-aos="fade-up">
                <img class="works__photo" src="img/portfolio/1.jpg" alt="">
                <div class="works__info">
                    <div class="works__title">Імя \ назва групи</div>
                    <div class="works__text">назва заходу</div>
                </div>
            </div>

            <div class="works__item" data-aos="fade-up">
                <img class="works__photo" src="img/portfolio/6.jpg" alt="">
                <div class="works__info">
                    <div class="works__title">Імя \ назва групи</div>
                    <div class="works__text">назва заходу</div>
                </div>
            </div>

            <div class="works__item" data-aos="fade-up">
                <img class="works__photo" src="img/portfolio/10.jpg" alt="">
                <div class="works__info">
                    <div class="works__title">Імя \ назва групи</div>
                    <div class="works__text">назва заходу</div>
                </div>
            </div>

        </div>
        <!-- /.works_col-->

        <div class="works__col">
            <div class="works__item" data-aos="fade-up">
                <img class="works__photo" src="img/portfolio/8.jpg" alt="">
                <div class="works__info">
                    <div class="works__title">Імя \ назва групи</div>
                    <div class="works__text">назва заходу</div>
                </div>
            </div>

            <div class="works__item" data-aos="fade-up">
                <img class="works__photo" src="img/portfolio/9.jpg" alt="">
                <div class="works__info">
                    <div class="works__title">Імя \ назва групи</div>
                    <div class="works__text">назва заходу</div>
                </div>
            </div>

            <div class="works__item" data-aos="fade-up">
                <img class="works__photo" src="img/portfolio/2.jpg" alt="">
                <div class="works__info">
                    <div class="works__title">Імя \ назва групи</div>
                    <div class="works__text">назва заходу</div>
                </div>
            </div>

        </div>
        <!-- /.works_col-->

        <div class="works__col">

            <div class="works__item" data-aos="fade-up">
                <img class="works__photo" src="img/portfolio/4.jpg" alt="">
                <div class="works__info">
                    <div class="works__title">Імя \ назва групи</div>
                    <div class="works__text">назва заходу</div>
                </div>
            </div>

            <div class="works__item" data-aos="fade-up">
                <img class="works__photo" src="img/portfolio/11.jpg" alt="">
                <div class="works__info">
                    <div class="works__title">Імя \ назва групи</div>
                    <div class="works__text">назва заходу</div>
                </div>
            </div>

            <div class="works__item" data-aos="fade-up">
                <img class="works__photo" src="img/portfolio/7.jpg" alt="">
                <div class="works__info">
                    <div class="works__title">Імя \ назва групи</div>
                    <div class="works__text">назва заходу</div>
                </div>
            </div>

        </div>
        <!-- /.works_col-->

        <div class="works__col">
            <div class="works__item" data-aos="fade-up">
                <img class="works__photo" src="img/portfolio/5.jpg" alt="">
                <div class="works__info">
                    <div class="works__title">Імя \ назва групи</div>
                    <div class="works__text">назва заходу</div>
                </div>
            </div>

            <div class="works__item" data-aos="fade-up">
                <img class="works__photo" src="img/portfolio/3.jpg" alt="">
                <div class="works__info">
                    <div class="works__title">Імя \ назва групи</div>
                    <div class="works__text">назва заходу</div>
                </div>
            </div>

            <div class="works__item" data-aos="fade-up">
                <img class="works__photo" src="img/portfolio/12.jpg" alt="">
                <div class="works__info">
                    <div class="works__title">Імя \ назва групи</div>
                    <div class="works__text">назва заходу</div>
                </div>
            </div>

        </div>
        <!-- /.works_col-->

    </div>
    <!-- /.works -->

</section>
<!-- /.portfolio -->