<section class="promo" id="promo">
    <div class="container">
        <div class="promo__inner">

            <div class="promo__content" data-aos="fade-up">

                <div class="section-header">
                    <h2 class="promo__title">Почни зараз. <span>Перший урок БЕЗКОШТОВНО!</span> </h2>
                    <div class="promo__subtitle">Залиште заявку на будь-який напрям навчання, який вас цікавить, і
                        отримайте перший урок безкоштовно.</div>
                </div>
                <!-- /.section-header -->

                <a class="btn btn--style_red btn--size_lg" href="#communication">почати навчання</a>
            </div>
        </div>
        <!-- /.promo__inner -->
    </div>
    <!-- /.container -->
</section>
<!-- /.promo -->