<section class="reviews">

    <div class="reviews__slider" id="reviewsSlider" data-aos="fade-up">

        <div class="reviews__item">
            <div class="reviews__author">
                <img class="reviews__author-avatar" src="img/reviews/1.jpg" alt="">
                <div class="reviews__author-info">
                    <div class="reviews__author-name">Олег Кузьмінський</div>
                    <div class="reviews__author-position">Учень</div>
                </div>
            </div>

            <div class="reviews__text">
                <p>Ми високо оцінили чуйність та своєчасність Алти. Графік повністю обговорювався і все було доставлено вчасно.</p>
            </div>
        </div>
        <!-- /.reviews__item -->

        <div class="reviews__item">
            <div class="reviews__author">
                <img class="reviews__author-avatar" src="img/reviews/2.jpg" alt="">
                <div class="reviews__author-info">
                    <div class="reviews__author-name">Єгор Беленков</div>
                    <div class="reviews__author-position">учень</div>
                </div>
            </div>

            <div class="reviews__text">
                <p>Все було вчасно. Якість була чудовою. Ми були б раді працювати з нимизнову в майбутньому. Команда Alty надзвичайно гнучка, і вони працюють над тим, щоб знайти їх найкраще рішення для кожного клієнта.</p>
            </div>
        </div>
        <!-- /.reviews__item -->

        <div class="reviews__item">
            <div class="reviews__author">
                <img class="reviews__author-avatar" src="img/reviews/3.jpg" alt="">
                <div class="reviews__author-info">
                    <div class="reviews__author-name">Діма Дубілет</div>
                    <div class="reviews__author-position">учень</div>
                </div>
            </div>

            <div class="reviews__text">
                <p>Довіряйте здатності Alty робити чудові продукти та вважати їх частиною своєї команди, а не просто дизайнери, які беруть напрямок. Якщо ви залучите команду до процесу прийняття рішень, вони мають кращі уявлення про ваші цілі, що дозволяє їм пристосувати інтерфейс користувача та UX до ваших замовники.</p>
            </div>
        </div>
        <!-- /.reviews__item -->

        <div class="reviews__item">
            <div class="reviews__author">
                <img class="reviews__author-avatar" src="img/reviews/4.jpg" alt="">
                <div class="reviews__author-info">
                    <div class="reviews__author-name">СЕРГІЙ ГАВРИЛЮК</div>
                    <div class="reviews__author-position">Учень</div>
                </div>
            </div>

            <div class="reviews__text">
                <p>Дизайн Alty досить гладкий. Я вдячний від користувачів, що це дуже крутий, дуже привабливий, а дизайн дуже простий у використанні.</p>
            </div>
        </div>
        <!-- /.reviews__item -->

        <div class="reviews__item">
            <div class="reviews__author">
                <img class="reviews__author-avatar" src="img/reviews/5.jpg" alt="">
                <div class="reviews__author-info">
                    <div class="reviews__author-name">Олексій Любінський</div>
                    <div class="reviews__author-position">учень</div>
                </div>
            </div>

            <div class="reviews__text">
                <p>Я дивився на розробників переважно в Східній Європі. В Україні, якщо хочеш якості розробка мобільних додатків, ви переходите до Алти. Не існує номер два чи номер три - просто Алти.</p>
            </div>
        </div>
        <!-- /.reviews__item -->

        <div class="reviews__item">
            <div class="reviews__author">
                <img class="reviews__author-avatar" src="img/reviews/6.jpg" alt="">
                <div class="reviews__author-info">
                    <div class="reviews__author-name">Петро Бондаревський</div>
                    <div class="reviews__author-position">Учень</div>
                </div>
            </div>

            <div class="reviews__text">
                <p>Нам сподобалося, що Алти не тільки виконала завдання під рукою, але й творчо подумала. Іноді вони пропонували деякі альтернативні варіанти нашого оригінального дизайну. Вони запропонували деякі нові речі, і було багато разів, коли їх пропозиції були найкращим рішенням.</p>
            </div>
        </div>
        <!-- /.reviews__item -->

        <div class="reviews__item">
            <div class="reviews__author">
                <img class="reviews__author-avatar" src="img/reviews/7.jpg" alt="">
                <div class="reviews__author-info">
                    <div class="reviews__author-name">Міша Рогальський</div>
                    <div class="reviews__author-position">учень</div>
                </div>
            </div>

            <div class="reviews__text">
                <p>Алті знає, як балансувати між слуханням клієнта, його клієнтом та змішуванням тих, хто має свою професійну думку. Іноді, коли ваш підрядник слухає, що ти хочете і так само, як ви кажете, результат поганий, тому що ви не маєте цього професіонала вхід.</p>
            </div>
        </div>
        <!-- /.reviews__item -->

    </div>
    <!-- /.reviews__slider -->

</section>
<!-- /.reviews -->