<section class="services" id="services">
    <div class="container">
        <div class="services__inner" data-aos="fade-up">

            <div class="section-header">
                <h2 class="section-title section-title--style_dark">напрямки навчання</h2>
                <div class="section-subtitle section-subtitle--style_dark">Обучення в школі відбувається з використанням найсучасніших музичних інструментів та сучасних технологій.</div>
                <div class="design-element design-element--style_dark"></div>
            </div>
            <!-- /.section-header -->

            <div class="services__content">

                <div class="services__item">
                    <div class="services__icon-wrapper">
                        <svg class="services__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <use xlink:href="img/sprite.svg#services-electric-guitar"></use>
                        </svg>
                    </div>
                    <div class="services__title">електрогітара</div>
                    <div class="services__text">
                        <p>На гітарі грають лише хлопці? А знаєш Ти, що «… землетрус, у порівнянні з дівочою гітарою – лиш незначна вібрація!»(Ентоні Кідс, RHCP)? А ще: «Тексти пісень – це марна трата часу між гітарними соло» (Анґус Янґ, AC/DC)</p>
                    </div>
                    <button class="btn btn--size_sm btn--style_red" type="button" data-modal="#modal_electric-guitar">дізнатися більше</button>
                </div>
                <!-- /.services__item -->

                <div class="services__item">
                    <div class="services__icon-wrapper">
                        <svg class="services__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <use xlink:href="img/sprite.svg#services-acoustic-guitar"></use>
                        </svg>
                    </div>
                    <div class="services__title">акустична гітара</div>
                    <div class="services__text">
                        <p>Сьогодні гітара - один з найпопулярніших інструментів у світі. Можливість грати на гітарі відкриває для вас величезну кількість нових можливостей, і ваше життя стає яскравішим, багатшим і багатшим.</p>
                    </div>
                    <button class="btn btn--size_sm btn--style_red" type="button" data-modal="#modal_acoustic-guitar">дізнатися більше</button>
                </div>
                <!-- /.services__item -->

                <div class="services__item">
                    <div class="services__icon-wrapper">
                        <svg class="services__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <use xlink:href="img/sprite.svg#services-drums"></use>
                        </svg>
                    </div>
                    <div class="services__title">барабани</div>
                    <div class="services__text">
                        <p>Барабани - це справжня енергія і відчуття польоту через ритм. Наша команда професійних викладачів допоможе кожному розкрити себе та свій потенціал в повній мірі. Вчителю буде цікаво, а головне легко та доступно передати інформацію, використовуючи сучасні методи роботи. Ви отримаєте знання легко і легко, від правильної постановки до вміння грати в різних музичних жанрах, таких як: поп, рок, метал, джаз, фанк, блюз та інші.</p>
                    </div>
                    <button class="btn btn--size_sm btn--style_red" type="button" data-modal="#modal_drums">дізнатися більше</button>
                </div>
                <!-- /.services__item -->

                <div class="services__item">
                    <div class="services__icon-wrapper">
                        <svg class="services__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <use xlink:href="img/sprite.svg#services-saxophone"></use>
                        </svg>
                    </div>
                    <div class="services__title">саксофон</div>
                    <div class="services__text">
                        <p>На уроках саксофона працюють над звуком, технікою, музичним смаком та імпровізацією. Репертуар може сильно залежати від смаків студента. З моєю допомогою ви зможете навчитися грати на саксофоні за порівняно короткий час. Вже на першому уроці ви будете грати красиві, але прості твори з музикою. Заняття проводяться індивідуально!</p>
                    </div>
                    <button class="btn btn--size_sm btn--style_red" type="button" data-modal="#modal_saxophone">дізнатися більше</button>
                </div>
                <!-- /.services__item -->

                <div class="services__item">
                    <div class="services__icon-wrapper">
                        <svg class="services__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <use xlink:href="img/sprite.svg#services-piano"></use>
                        </svg>
                    </div>
                    <div class="services__title">Фортепіано</div>
                    <div class="services__text">
                        <p>Фортепіано - один з найкрасивіших і неймовірних інструментів, на якому є цілий оркестр тембрів. Наша команда професійних викладачів допоможе кожному розкрити себе та свій потенціал в повній мірі. Вчителю буде цікаво, а головне легко та доступно передати інформацію, використовуючи сучасні методи роботи.</p>
                    </div>
                    <button class="btn btn--size_sm btn--style_red" type="button" data-modal="#modal_piano">дізнатися більше</button>
                </div>
                <!-- /.services__item -->

                <div class="services__item">
                    <div class="services__icon-wrapper">
                        <svg class="services__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <use xlink:href="img/sprite.svg#services-microphone"></use>
                        </svg>
                    </div>
                    <div class="services__title">вокал</div>
                    <div class="services__text">
                        <p>У кожного є голос! Наша команда професійних викладачів допоможе розкрити весь ваш потенціал. Тренер вокалу буде цікавим, а головне доступним, щоб передати основні принципи правильного співу.</p>
                    </div>
                    <button class="btn btn--size_sm btn--style_red" type="button" data-modal="#modal_vocal">дізнатися більше</button>
                </div>
                <!-- /.services__item -->

            </div>
            <!-- /.services__content -->

        </div>
        <!-- /.services__inner -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section__services -->