<section class="statistics" id="statistics">
    <div class="container">
        <div class="statistics__inner">

            <div class="statistics__item" data-aos="fade-up">
                <div class="statistics__picture">
                    <svg class="statistics__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="img/sprite.svg#statistics-student"></use>
                    </svg>
                </div>
                <div class="statistics__count">484</div>
                <div class="statistics__title">учнів закінчило навчання</div>
            </div>
            <!-- /.statistics__item -->

            <div class="statistics__item" data-aos="fade-up">
                <div class="statistics__picture">
                    <svg class="statistics__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="img/sprite.svg#statistics-heart"></use>
                    </svg>
                </div>
                <div class="statistics__count">470</div>
                <div class="statistics__title">задоволених клієнтів</div>
            </div>
            <!-- /.statistics__item -->

            <div class="statistics__item" data-aos="fade-up">
                <div class="statistics__picture">
                    <svg class="statistics__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="img/sprite.svg#statistics-medal"></use>
                    </svg>
                </div>
                <div class="statistics__count">82</div>
                <div class="statistics__title">Нагород отримано</div>
            </div>
            <!-- /.statistics__item -->

            <div class="statistics__item" data-aos="fade-up">
                <div class="statistics__picture">
                    <svg class="statistics__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="img/sprite.svg#statistics-note"></use>
                    </svg>
                </div>
                <div class="statistics__count">53k</div>
                <div class="statistics__title">уроків проведено</div>
            </div>
            <!-- /.statistics__item -->
        </div>
        <!-- /.statistics__inner -->
    </div>
    <!-- /.container -->
</section>
<!-- /.statistics -->