<section class="team" id="team">
    <div class="container">
        <div class="team__inner">

            <div class="section-header" data-aos="fade-up">
                <h2 class="section-title section-title--style_light">викладачі</h2>
                <div class="section-subtitle section-subtitle--style_light"> Уроки проходять в затишній атмосфері з усім необхідним обладнанням для цього. Ми підберемо зручний та цікавий курс саме для Вас, який почнемо вивчати з першого заняття.
                </div>
                <div class="design-element design-element--style_light"></div>
            </div>
            <!-- /.section-header -->

            <div class="team__content" data-aos="fade-up">

                <div class="team__item">
                    <div class="team__img-box">
                        <img class="team__img" src="img/team/team1.jpg" alt="1">
                    </div>
                    <div class="team__item-info">
                        <h5 class="team__item-title">ОСТАП ІЛЬЧИШИН</h5>
                        <div class="team__item-subtitle">
                            Акустична гітара / Електрогітара
                        </div>
                        <div class="team__item-text">
                            <p>Остап закінчив Львівську державну школу мистецтв №11 по класу гітари в 2007 році. Далі вчився в Центрі дитячої та юнацької творчості Залізничного району. Там вдалось навчитись грати в гурті, а саме у вокально-інструментальному ансамблі “Усмішка”.</p>
                        </div>
                        <div class="team__item-social">
                            <a class="team__item-social__item" target="_blank" href="https://uk-ua.facebook.com/">
                                <svg class="team__item-social__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="img/sprite.svg#social-facebook"></use>
                                </svg>
                            </a>
                            <a class="team__item-social__item" target="_blank" href="https://twitter.com/explore">
                                <svg class="team__item-social__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="img/sprite.svg#social-twitter"></use>
                                </svg>
                            </a>
                            <a class="team__item-social__item" target="_blank" href="https://www.instagram.com/?hl=ru">
                                <svg class="team__item-social__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="img/sprite.svg#social-instagram"></use>
                                </svg>
                            </a>
                            <a class="team__item-social__item" target="_blank" href="https://www.skype.com/ru/">
                                <svg class="team__item-social__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="img/sprite.svg#social-skype"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.team__item -->

                <div class="team__item">
                    <div class="team__img-box">
                        <img class="team__img" src="img/team/team2.jpg" alt="1">
                    </div>
                    <div class="team__item-info">
                        <h5 class="team__item-title">ОЛЬГА КОРЕЦЬКА</h5>
                        <div class="team__item-subtitle">
                            Вокал
                        </div>
                        <div class="team__item-text">
                            <p>Ще з дитинства Олю віддали вчитись в музичну школу в Херсоні.
                                А далі дівчина почала викладати. Рік навчала співу діток у Дитячій музичній школі №3 в Херсоні. Потім  продовжила своє навчання у Львівській національній музичній академії імені М. В. Лисенка.</p>
                        </div>
                        <div class="team__item-social">
                            <a class="team__item-social__item" target="_blank" href="https://uk-ua.facebook.com/">
                                <svg class="team__item-social__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="img/sprite.svg#social-facebook"></use>
                                </svg>
                            </a>
                            <a class="team__item-social__item" target="_blank" href="https://twitter.com/explore">
                                <svg class="team__item-social__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="img/sprite.svg#social-twitter"></use>
                                </svg>
                            </a>
                            <a class="team__item-social__item" target="_blank" href="https://www.instagram.com/?hl=ru">
                                <svg class="team__item-social__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="img/sprite.svg#social-instagram"></use>
                                </svg>
                            </a>
                            <a class="team__item-social__item" target="_blank" href="https://www.skype.com/ru/">
                                <svg class="team__item-social__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="img/sprite.svg#social-skype"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.team__item -->

                <div class="team__item">
                    <div class="team__img-box">
                        <img class="team__img" src="img/team/team3.jpg" alt="1">
                    </div>
                    <div class="team__item-info">
                        <h5 class="team__item-title">назар кудрявець</h5>
                        <div class="team__item-subtitle">
                            Барабани
                        </div>
                        <div class="team__item-text">
                            <p>Молодий, просунутий, амбітний, красивий, талановитий і добряче досвідчений. Не зважаючи на юний вік – максимально перспективний та активний у творчому житті, сесійний музикант у джазових колективах, оркестрах.</p>
                        </div>
                        <div class="team__item-social">
                            <a class="team__item-social__item" target="_blank" href="https://uk-ua.facebook.com/">
                                <svg class="team__item-social__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="img/sprite.svg#social-facebook"></use>
                                </svg>
                            </a>
                            <a class="team__item-social__item" target="_blank" href="https://twitter.com/explore">
                                <svg class="team__item-social__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="img/sprite.svg#social-twitter"></use>
                                </svg>
                            </a>
                            <a class="team__item-social__item" target="_blank" href="https://www.instagram.com/?hl=ru">
                                <svg class="team__item-social__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="img/sprite.svg#social-instagram"></use>
                                </svg>
                            </a>
                            <a class="team__item-social__item" target="_blank" href="https://www.skype.com/ru/">
                                <svg class="team__item-social__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="img/sprite.svg#social-skype"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.team__item -->

                <div class="team__item">
                    <div class="team__img-box">
                        <img class="team__img" src="img/team/team4.jpg" alt="1">
                    </div>
                    <div class="team__item-info">
                        <h5 class="team__item-title">АНДРІЙ КАКАПИЧ</h5>
                        <div class="team__item-subtitle">
                            Саксофон
                        </div>
                        <div class="team__item-text">
                            <p>У 2000-му році взяв до рук саксофон та вступив до Львівського державного училища культури та мистецтв, стає солістом дитячого Біг-бенду. Далі напрямок: саксофон та диригування у Львівській національній музичній академії ім. М. Лисенка і саме тут розпочинає різножанрову особисту творчість!</p>
                        </div>
                        <div class="team__item-social">
                            <a class="team__item-social__item" target="_blank" href="https://uk-ua.facebook.com/">
                                <svg class="team__item-social__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="img/sprite.svg#social-facebook"></use>
                                </svg>
                            </a>
                            <a class="team__item-social__item" target="_blank" href="https://twitter.com/explore">
                                <svg class="team__item-social__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="img/sprite.svg#social-twitter"></use>
                                </svg>
                            </a>
                            <a class="team__item-social__item" target="_blank" href="https://www.instagram.com/?hl=ru">
                                <svg class="team__item-social__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="img/sprite.svg#social-instagram"></use>
                                </svg>
                            </a>
                            <a class="team__item-social__item" target="_blank" href="https://www.skype.com/ru/">
                                <svg class="team__item-social__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="img/sprite.svg#social-skype"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.team__item -->

                <div class="team__item">
                    <div class="team__img-box">
                        <img class="team__img" src="img/team/team5.jpg" alt="1">
                    </div>
                    <div class="team__item-info">
                        <h5 class="team__item-title">ДМИТРО МИКИТИН</h5>
                        <div class="team__item-subtitle">
                            Фортепіано
                        </div>
                        <div class="team__item-text">
                            <p>Дмитро Микитин — молодий львівський піаніст та композитор. Навчався у ЛССМШІ ім. С. Крушельницької, виграв Перший Всеукраїнський конкурс імені В. Барвінського. У 2019 році отримав диплом магістра у ЛНМА ім. М. Лисенка за спеціальністю “фортепіано”.</p>
                        </div>
                        <div class="team__item-social">
                            <a class="team__item-social__item" target="_blank" href="https://uk-ua.facebook.com/">
                                <svg class="team__item-social__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="img/sprite.svg#social-facebook"></use>
                                </svg>
                            </a>
                            <a class="team__item-social__item" target="_blank" href="https://twitter.com/explore">
                                <svg class="team__item-social__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="img/sprite.svg#social-twitter"></use>
                                </svg>
                            </a>
                            <a class="team__item-social__item" target="_blank" href="https://www.instagram.com/?hl=ru">
                                <svg class="team__item-social__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="img/sprite.svg#social-instagram"></use>
                                </svg>
                            </a>
                            <a class="team__item-social__item" target="_blank" href="https://www.skype.com/ru/">
                                <svg class="team__item-social__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="img/sprite.svg#social-skype"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.team__item -->

            </div>
            <!-- /.team__content -->

        </div>
        <!-- /.team__inner -->
    </div>
    <!-- /.container -->
</section>
<!-- /.team -->