<section class="who" id="who">
    <div class="container">
        <div class="who__inner">

            <div class="who__item" data-aos="fade-up">
                <div class="who__squere">
                    <svg class="who__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="img/sprite.svg#who-chat"></use>
                    </svg>
                </div>
                <h5 class="who__title">підтримка</h5>
                <div class="who__text">
                    <p>Ми завжди готові допомогти та підтримати наших учнів у скрутну хвилину.</p>
                </div>
            </div>
            <!-- /.who__item -->

            <div class="who__item" data-aos="fade-up">
                <div class="who__squere">
                    <svg class="who__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="img/sprite.svg#who-concert"></use>
                    </svg>
                </div>
                <h5 class="who__title">Концерти</h5>
                <div class="who__text">
                    <p>У школі дуже багате творче життя. Проходить багато концертів в найпопулярніших концертних залах міста.</p>
                </div>
            </div>
            <!-- /.who__item -->

            <div class="who__item" data-aos="fade-up">
                <div class="who__squere">
                    <svg class="who__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="img/sprite.svg#who-cup"></use>
                    </svg>
                </div>
                <h5 class="who__title">конкурси</h5>
                <div class="who__text">
                    <p>Наші учні беруть участь у Всеукраїнських конкурсах, виграючи призи та нагороди.</p>
                </div>
            </div>
            <!-- /.who__item -->

            <div class="who__item" data-aos="fade-up">
                <div class="who__squere">
                    <svg class="who__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <use xlink:href="img/sprite.svg#who-diploma"></use>
                    </svg>
                </div>
                <h5 class="who__title">диплом</h5>
                <div class="who__text">
                    <p>Після закінчення школи надається диплом українського зразка.</p>
                </div>
            </div>
            <!-- /.who__item -->

        </div>
        <!-- /.who__inner -->
    </div>
    <!-- /.container -->
</section>
<!-- /.who-->