.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
    width: 100%;
}

.design-element {
    margin: 0 auto;
    position: relative;
    height: 7px;
    width: 7px;
    background-color: $red;
    border-radius: 50%;

    &--style_light {
        &:before,
        &:after {
            background-color: $white;
        }
    }

    &--style_dark {
        &:before,
        &:after {
            background-color: $gray;
        }
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 3px;
        height: 1px;
        width: 80px;

        @include for-tablet-portrait {
            width: 60px;
        }
    }

    &:before {
        left: -94px;

        @include for-tablet-portrait {
            left: -74px;
        }
    }

    &:after {
        right: -94px;

        @include for-tablet-portrait {
            right: -74px;
        }
    }
}

.section-header {
    padding: 150px 0 65px;
    text-align: center;

    @include for-laptop {
        padding: 120px 0 55px;
    }

    @include for-tablet-landscape {
        padding: 120px 0 50px;

    }

    @include for-phone-only {
        padding: 110px 0 50px;

    }
}

.section-title {
    font-size: 36px;
    font-family: "Source Sans Pro" serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.1;

    @include for-phone-only {
        font-size: 30px;
        line-height: 1.2;
    }

    &--style_light {
        color: $white;
    }

    &--style_dark {
        color: $gray-title;
    }

    &--decoration_left {
        position: relative;
        padding-left: 35px;

        @include for-phone-only {
            padding-left: 0;
            text-align: center;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 6px;
            height: 100%;
            background-color: $red;

            @include for-phone-only {
                display: none;
            }
        }
    }

    &--decoration_right {
        position: relative;
        padding-right: 35px;

        @include for-phone-only {
            padding-left: 0;
            text-align: center;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 6px;
            height: 100%;
            background-color: $red;

            @include for-phone-only {
                display: none;
            }
        }
    }
}

.section-subtitle {
    margin: 22px auto 35px;
    font-size: 14px;
    line-height: 1.5;
    max-width: 660px;

    @include for-tablet-portrait {
        margin-top: 15px;
    }

    &--style_light {
        color: $white;
    }

    &--style_dark {
        color: $gray;
    }
}
